/build
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/captures
.externalNativeBuild
./idea/*
.idea/caches/build_file_checksums.ser
.idea/gradle.xml
/projectFilesBackup
.*
!/.gitignore
/gradle/
**/*.apk
**/*.exec
**/**.aab
**/**ajcore.*.txt
!.editorconfig
cx.json
/cx.json
app/build 2/
app/release/
.keystore
.idea/workspace.xml
.idea/
.gradle/